/* Navigation.css */

nav {
    position: fixed;
    top: 32%;
    left: 20px;
    transform: translateY(-50%);
    width: 200px;
    z-index: 1000;
    padding: 10px;
    display: flex;
    /* align-items: center; */
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    margin: 15px 0;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
    display: block;
    /* Make the link fill the entire area for better clickability */
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.about-icon {
    width: 70px;
}

.project-icon  {
    width: 70px;
}

.connect-icon {
    width: 70px;
}
